apache-bookkeeper-client==4.10.0
certifi==2019.11.28
chardet==3.0.4
Click==7.0
fastavro==0.22.9
Flask==1.1.1
Flask-Cors==3.0.8
grpcio==1.27.2
idna==2.8
itsdangerous==1.1.0
Jinja2==2.11.1
MarkupSafe==1.1.1
prometheus-client==0.7.1
protobuf==3.11.3
pulsar-client==2.4.2
pymmh3==0.0.5
pytz==2019.3
ratelimit==2.2.1
requests==2.22.0
six==1.14.0
urllib3==1.25.8
Werkzeug==1.0.0
